  // header
  .top-heading {
    z-index:99;
    clear:both;
    width:100%;
    color:#354145;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top:10px;
    .main-headline {
      display:none;
      margin:30px;
      font-size:26px;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .main-header {
    img {
    position:relative;
    height:auto;
    width:90%;
    }
  }

@media only screen and (max-width: 950px) {
    .top-heading>.main-headline {
      display:inline;
      letter-spacing: 10px;
    }
}
