// header
.top-heading {
  z-index:99;
  margin:0 auto;
  width:100%;
  color:#354145;
  font-family: 'Montserrat', sans-serif;
  h3 {
    margin:-10px;
  }
}

.short {
  width:50%;
  margin-top:10px;
}

.main-header {
  img {
  position:relative;
  height:auto;
  width:100%;
  }
}

.about {
  width:75%;
  position:relative;
  font-size: 1.3em;
  margin:0 auto;
  img {
    height:auto;
    width:100px;
    positon:relative;
    margin-bottom:20px;
    // border-radius:70%;
  }
}

.skills {
  ul {
    padding:150px;
    color:black;
    li {
      display:block;
      padding-bottom:10px;
      font-weight: 500;
      font-size:1em;
      img {
        width:50px;
      }
    }
  }
}
