.projects {
  margin-bottom:500px;
  .gallery {
    h2 {
      font-family: 'Roboto', sans-serif;
      font-size:1.3em;
    }
    .caption {
      width:85%;
      position:relative;
      margin:0 auto;
    }
    .work {
    height:220px;
    width:220px;
    border-radius:50%;
    }
    img {
      padding:10px;
      transition: opacity 1.5s;
      &:hover {
        opacity:0.6;
        transition: opacity 1.5s;
      }
    }
    .technology {
      position:relative;
      top:10px;
    }
  }
}
