.projects {
  .gallery {
    h2 {
      font-family: 'Roboto', sans-serif;
      font-size:1.3em;
    }
    .caption {
      width:85%;
      position:relative;
      margin:0 auto;
    }
    .work {
    height:200px;
    width:200px;
    border-radius:50%;
    }
    img {
      padding:10px;
    }
    .technology {
      position:relative;
      top:10px;
    }
  }
}
