@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500|Raleway:400,100,200,300,500);

@import 'grid';

@import 'home';

@import 'navbar';

@import 'projects';

@import 'designs';

@import "otherSections";

@import 'footer';


body {
  background: mintcream;
  text-align:center;
  color:#333;
  font-family: 'Roboto', sans-serif;
}
