@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500|Raleway:400,100,200,300,500);

@import 'grid';

@import 'normalize';

@import 'navbar';

@import 'home';

@import 'projects';

@import 'designs';

@import 'about';

@import 'skills';

@import "otherSections";

@import 'footer';


body {
  background: mintcream;
  text-align:center;
  color:#333;
  font-family: 'Roboto', sans-serif;
  margin-bottom:-10px;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
  line-height: 1.1;
  text-align:center;
}
h1 {
  font-size:40px;
  //color:#903ca7;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
}
.short {
  width:50%;
  margin-top:-10px;
  position: relative;
  border: 0;
  border-top: 1px solid #eee;
}
