@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
// @import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background: mintcream;
  text-align:center;
  // font-family: 'Droid Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.short {
  width:50%;
  margin-top:-5px;
}
.main-header {
  h3 {
    position:relative;
    margin-top:-10px;
  }
  img {
  height:auto;
  width:100%;
  }
}
.gallery {
  h2 {
    font-size:1.3em;
  }
  #tech-down {
    margin-top:50px;
  }
  #tech-down2 {
    margin-top:-10px;
  }
  .caption {
    width:85%;
    position:relative;
    margin:0 auto;
  }
  .work {
  height:200px;
  width:200px;
  border-radius:50%;
  }
  img {
    padding:10px;
  }
  .technology {
    position:relative;
    top:10px;
  }
}
.about {
  width:50%;
  position:relative;
  margin:0 auto;
}

.skills {
  ul {
    padding:150px;
    color:black;
    li {
      display:block;
      padding-bottom:10px;
    }
  }
}

#social {
  text-align:center;
  background: #2B547E;
  color: white;
  padding: 50px;
  h4 {
    font-size:1em;
    padding:0;
    margin-top:-30px;
  }
  ul {
    margin:0 auto;
    position:relative;
    li {
      display: inline-block;
      font-size: 16px;
      opacity: 0.2;
      -webkit-transition: color 2s, font-size 0.5s, opacity 2s;
      &:hover {
        color: #659EC7;
        font-size: 17px;
        opacity: 0.9;
        }
      }
    }
}
