#social {
  background: #2B547E;
  position: relative;
  color: white;
  height: 100px;
  width: 100%; }
  #social p {
    font-size: 1.2em; }
  #social .icons {
    width: 100%;
    margin: 0 auto;
    left: -19px;
    position: relative; }
    #social .icons li {
      display: inline-block;
      font-size: 17px;
      padding: 0px 40px; }
      #social .icons li .fa {
        color: white;
        -webkit-transition: all 0.3s ease-in; }
        #social .icons li .fa:hover {
          color: #b061c6; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #social > .icons > ul > li {
    padding: 0px 25px; } }
