#social {
  background: #2B547E;
  color: white;
  height: 100px; }
  #social p {
    font-size: 1.2em; }
  #social .icons {
    width: 100%;
    margin: 0 auto;
    left: -19px;
    position: relative; }
    #social .icons li {
      display: inline-block;
      font-size: 17px;
      padding: 0px 40px; }
      #social .icons li .fa {
        color: white;
        -webkit-transition: all 1s ease-in; }
        #social .icons li .fa:hover {
          color: #b061c6; }
