h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.1; }

hr {
  border: 0;
  border-top: 1px solid #eee; }

.top-heading {
  z-index: 99;
  margin: 0 auto;
  width: 100%;
  color: #354145;
  font-family: 'Montserrat', sans-serif; }
  .top-heading .main-headline {
    margin: -10px;
    font-size: 26px; }
  .top-heading h4 {
    font-size: 18px;
    font-weight: 500; }

.short {
  width: 50%;
  margin-top: 10px;
  position: relative;
  border: 0;
  border-top: 1px solid #eee; }

.main-header img {
  position: relative;
  height: auto;
  width: 80%; }

.about {
  width: 75%;
  position: relative;
  font-size: 1.3em;
  margin: 0 auto; }
  .about img {
    height: auto;
    width: 200px;
    positon: relative;
    margin-bottom: 20px; }

.skills ul {
  padding: 150px;
  color: black; }
  .skills ul li {
    display: block;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 1em; }
    .skills ul li img {
      width: 50px; }
