h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 40px; }

hr {
  border: 0;
  border-top: 1px solid #eee; }

.top-heading {
  z-index: 99;
  clear: both;
  width: 100%;
  color: #354145;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 10px; }
  .top-heading .main-headline {
    margin: 30px;
    font-size: 26px; }
  .top-heading h4 {
    font-size: 18px;
    font-weight: 500; }

.short {
  width: 50%;
  margin-top: -10px;
  position: relative;
  border: 0;
  border-top: 1px solid #eee; }

.main-header img {
  position: relative;
  height: auto;
  width: 90%; }

.about {
  width: 75%;
  position: relative;
  font-size: 1.3em;
  margin: 0 auto; }
  .about img {
    height: auto;
    width: 150px;
    positon: relative;
    margin-bottom: 20px; }

.skills {
  height: 100px; }
  .skills ul {
    color: black; }
    .skills ul li {
      display: block;
      padding: 100px;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 1em; }
