.nav {
  z-index: 9999;
  width: 100%;
  height: 80px;
  top: 0px;
  margin-top: -15px;
  background: black;
  list-style: none; }
  .nav ul li {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    top: 10px;
    margin: 0 auto; }
    .nav ul li a {
      text-decoration: none;
      font-weight: 100;
      color: #FFF;
      margin-right: 10px;
      transition: color 0.5s; }
      .nav ul li a:hover {
        color: #b061c6; }

.nav > .left {
  position: relative;
  clear: both;
  float: left;
  margin-left: 10px; }

.nav > .center {
  position: relative;
  top: -27px;
  left: 10px;
  width: 190px;
  margin: 0 auto;
  clear: both;
  color: white;
  letter-spacing: 15px; }

.nav > .right {
  position: relative;
  top: -95px;
  float: right;
  clear: both;
  margin-right: 20px; }
  .nav > .right li {
    padding: 0px 30px; }

@media only screen and (max-width: 950px) {
  .nav > .right {
    top: -55px;
    left: 5px; }
  .nav > .center {
    display: none; } }

@media only screen and (max-width: 900px) {
  .nav > .right {
    top: 0px;
    left: 2px;
    float: none; }
  .nav > .left {
    top: 0px;
    left: -10px;
    float: none; } }

@media only screen and (max-width: 480px) {
  .nav > li {
    padding: 5px 40px;
    position: relative; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .nav > .left {
    padding: 0px 0px;
    margin-left: 27px; }
  .nav > .right {
    padding: 0px 0px;
    margin: 0; } }
