#social {
  background: #2B547E;
  color: white;
  padding: 10px;
  width: 100%; }
  #social p {
    font-size: 1.2em; }
  #social .icons {
    width: 40%;
    margin: 0 auto; }
    #social .icons li {
      display: inline-block;
      font-size: 15px; }
      #social .icons li .fa {
        color: white;
        -webkit-transition: opacity 1s; }
        #social .icons li .fa:hover {
          opacity: 0.4;
          -webkit-transition: opacity 1s; }
