@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500|Raleway:400,100,200,300,500);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid {
  width: 100%;
  padding: 20px 20px 20px 20px; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-left: 20px; }

#nav {
  z-index: 9999;
  width: 100%;
  float: left;
  padding: 10;
  background: black;
  list-style: none; }
  #nav li {
    display: inline-block;
    padding: 15px 15px;
    margin: 0 auto; }
    #nav li a {
      text-decoration: none;
      font-weight: 100;
      color: #FFF;
      margin-right: 10px;
      transition: color 1s; }
      #nav li a:hover {
        color: lightblue; }

.projects .gallery h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em; }

.projects .gallery .caption {
  width: 85%;
  position: relative;
  margin: 0 auto; }

.projects .gallery .work {
  height: 200px;
  width: 200px;
  border-radius: 50%; }

.projects .gallery img {
  padding: 10px;
  transition: opacity 1.5s; }
  .projects .gallery img:hover {
    opacity: 0.6;
    transition: opacity 1.5s; }

.projects .gallery .technology {
  position: relative;
  top: 10px; }

.designs img {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  height: 300px;
  max-height: 300px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  transition: opacity 1.5s; }
  .designs img:hover {
    opacity: 0.6;
    transition: opacity 1.5s; }

.music .photo {
  width: 50%;
  margin: 0 auto; }

.films .videoWrapper {
  margin-top: 200px;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.films .videoWrapper iframe {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%; }

#social {
  background: #2B547E;
  color: white;
  padding: 10px;
  width: 100%; }
  #social p {
    font-size: 1.2em; }
  #social .icons {
    width: 40%;
    margin: 0 auto; }
    #social .icons li {
      display: inline-block;
      font-size: 15px; }
      #social .icons li .fa {
        color: white;
        -webkit-transition: opacity 1s; }
        #social .icons li .fa:hover {
          opacity: 0.4;
          -webkit-transition: opacity 1s; }

body {
  background: mintcream;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: -10px; }

.top-heading {
  z-index: 99;
  margin: 0 auto;
  width: 100%;
  color: #354145; }
  .top-heading h3, .top-heading h4 {
    font-family: 'Montserrat', sans-serif; }

.short {
  width: 50%;
  margin-top: -5px; }

.main-header img {
  position: relative;
  height: auto;
  width: 100%; }

.about {
  width: 75%;
  position: relative;
  font-size: 1.3em;
  margin: 0 auto; }
  .about img {
    height: auto;
    width: 100px;
    positon: relative;
    margin-bottom: 20px; }

.skills ul {
  padding: 150px;
  color: black; }
  .skills ul li {
    display: block;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 1em; }
    .skills ul li img {
      width: 50px; }
